
main {
  display: flex;
  justify-content: center;
}

main > .contact-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;

}

footer {
  /* display: flex;
  justify-content: center; */
  margin-top: 50px;
}

.form-title-section { /* this is inline elements -> text-align: center; */
  text-align: center;
  margin-bottom: 40px;

}

.form-wrapper {
  display: flex;
  justify-content: center;
}


/* 
 
     */