@use "./modules/mixins.scss";

.gallery {
  display: grid;
  @include mixins.phone {
    grid-template-columns: 1fr;
    img {
      width: 90vw;
    }
  }
  @include mixins.tablet {
    grid-template-columns: 1fr 1fr;
    img {
      width: 45vw;
    }
  }

  @include mixins.landscape-tablet {
    grid-template-columns: 1fr 1fr 1fr;
    img {
      width: 30vw;
    }
  }
  @include mixins.laptop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    img {
      width: 22vw;
    }
  }
  @include mixins.desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    img {
      width: 15vw;
    }
  }
}

button {
  @include mixins.phone {
    font-size: 18px;
  }
  @include mixins.tablet {
    font-size: 22px;
  }
  @include mixins.landscape-tablet {
    font-size: 30px;
  }
  @include mixins.laptop {
    font-size: 40px;
  }

  @include mixins.desktop {
    font-size: 50px;
  }
}
