p {
  color: orange;
}

h1 {
  text-decoration: underline;
}

section {
  font-family: Arial, Helvetica, sans-serif;
  p {
    color: red;
    span {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.btn {
  background-color: rebeccapurple;
  cursor: pointer;
  color: white;

  &:hover {
    /* & represent the parent element */
    background-color: white;
    border: 2px solid rebeccapurple;
    color: rebeccapurple;
    transition: 0.1s;
  }
}

.photo {
  &__img {
    &--framed {
      /* incremental style changes */
    }
  }

  &__caption {
    &--large {
      /* incremental style changes */
    }
  }
}
.btn {
  display: inline-block;
  color: blue;

  &--secondary {
    color: green;
  }
}

.photo {
  /* Specificity of 10 */

  &__img {
  } /* Specificity of 10 */
  &__caption {
  } /* Specificity of 10 */
}

// SCSS Variable
/********* color ***********/
$blue: #d9edf8;
$orange: #ffd6a5;
$green: #e4f1ee;
$red: #ffadad;
$yellow: #fdffb6;
$purple: #dedaf4;
$lightgray: lightgray;
$teal: #a8cad6;
$lightcoral: lightcoral;

$primary: $blue;
$secondary: #dedaf4;
$success: #e4f1ee;
$danger: lightcoral;
